@model IEnumerable<SpellenPlatform.Models.Game>

@{
	ViewData["Title"] = ViewBag.Name;
}

<h1>@ViewBag.Name</h1>

<div class="container">

	<div class="row text-center text-lg-start">
		@foreach (var item in Model)
		{
			<div class="col-lg-3 col-md-4 col-6">
				<a href="@item.Link" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="@item.ImageLink" alt="">
				</a>
			</div>
		}
	</div>
</div>
